/* Home Screeens */
@media only screen and (max-width: 1699px) and (min-width: 1400px) {
  .out {
    /* border: 1px solid red; */
    width: 80%;
    margin: 100px 6%;
  }
  /* .levels {
    left: 33%;
    font-size: 2rem;
  } */
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .out {
    /* border: 1px solid red; */
    width: 100%;
    margin: 100px 0%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .out {
    /* border: 1px solid red; */
    width: 100%;
    margin: 100px 0%;
  }
  .images_path {
    /* border: 1px solid red; */
    margin-top: 400px;
    min-height: 100px;
  }
  .images_path img {
    border: 2px solid #d98338;
  }
}

@media only screen and (max-width: 999px) and (min-width: 700px) {
  .out {
    /* border: 1px solid red; */
    width: 100%;
    margin: 100px 0%;
  }
  .out .box h1 {
    font-size: 2rem;
    padding-top: 30px;
  }
  .images_path {
    width: 45%;
    margin-top: 400px;
    min-height: 100px;
    position: absolute;
    top: auto;
    bottom: 26%;
    left: 12%;
    flex-direction: row;
  }
  .explore_btn {
    position: absolute;
    left: 16%;
    top: 48%;
    font-size: 2rem;
    border-radius: 5px;
    padding: 10px 50px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    background-color: #2b83f5;
    border: none;
  }
}

@media only screen and (max-width: 699px) and (min-width: 550px) {
  #capture img {
    width: 80%;
    margin: 0px 10%;
    border: 5px solid red;
  }
  .out {
    /* border: 1px solid red; */
    width: 100%;
    margin: 100px 0%;
  }
  .out .box h1 {
    font-size: 1.5rem;
    padding-top: 50px;
  }
  .out .box p {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .images_path {
    /* border: 1px solid red; */
    margin-top: 400px;
    min-height: 100px;
    position: absolute;
    top: -15%;
    left: 42%;
    z-index: 99;
    padding: 0%;
  }
  .images_path img {
    border: 2px solid #d98338;
    width: 70%;
  }
  .explore_btn {
    margin-top: 20px;
    margin-left: -30%;
  }
  .box .marker .in p {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 999px) and (min-width: 800px) {
  .H_btn {
    right: 20% !important;
  }
}

@media only screen and (max-width: 800px) and (min-width: 750px) {
  .H_btn {
    right: 15% !important;
  }
  #capture img {
    width: 80%;
    margin: 0px 10%;
    border: 1px solid gray;
  }
  #capture #userName {
    margin-top: -18%;
    margin-left: -3%;
    font-size: 1.3rem;
  }
  #capture #ShowImage {
    width: 13%;
    display: none !important;
    margin-top: -30%;
    margin-left: -5%;
    display: inline-block;
  }
}
@media only screen and (max-width: 750px) and (min-width: 700px) {
  .H_btn {
    right: 15% !important;
  }
  #capture img {
    width: 80%;
    margin: 0px 10%;
    border: 1px solid gray;
  }
  #capture #userName {
    margin-top: -22.5%;
    margin-left: -3%;
    font-size: 1.3rem;
  }
  #capture #ShowImage {
    width: 13%;
    display: none !important;
    margin-top: -30%;
    margin-left: -5%;
    display: inline-block;
  }
}
label {
  display: inline !important;
}

/* Mobile */

@media only screen and (max-width: 549px) and (min-width: 300px) {
  #response {
    visibility: hidden;
  }

  .quiz-header ul {
    list-style-type: none;
    padding: 0;
    margin-left: -1rem;
  }

  canvas {
    width: 488px !important;
    height: 1100px !important;
  }

  #capture img {
    width: 80%;
    margin: 10px 10%;
    /* border: 5px solid red; */
  }
  .out {
    /* border: 1px solid red; */
    width: 100%;
    margin: 100px 0%;
  }
  .out .box h1 {
    font-size: 1.4rem;
    text-align: center;
    padding-top: 60px;
  }
  .out .box p {
    font-size: 1.2rem;
    padding-top: 50px;
  }
  .images_path {
    /* border: 1px solid red; */
    margin-top: 400px;
    min-height: 100px;
    position: absolute;
    top: -15%;
    left: 36%;
    z-index: 99;
    padding: 0%;
  }
  .images_path img {
    border: 2px solid #d98338;
    width: 100%;
  }
  .explore_btn {
    margin-top: 65px;
    margin-left: -30%;
  }
  canvas {
    margin-left: -25% !important;
  }
  .box .marker .in p {
    font-size: 2.5rem;
  }
  .out .box h1 {
    margin-top: -125px;
  }
  .box_one {
    width: 95vw;
    height: 80vh;
    margin-left: -15%;
    font-family: "Oswald", sans-serif;
    /* border: 1px solid red; */
  }
  .H_btn {
    top: 90px;
    left: 2%;
  }
  .quiz-container {
    margin-left: 0%;
    width: 440px;
  }
  .resP2 {
    margin-left: -22%;
  }
  .h1,
  h1 {
    font-size: 2rem !important;
  }
  .h2,
  h2 {
    font-size: 1.2rem !important;
  }
  .quiz-header ul li {
    font-size: 0.9rem;
    margin-top: 0.8rem;
  }
  .input_box {
    border-radius: 20px;
    width: 455px;
    min-height: 100px;
    z-index: 99999999;
    position: absolute;
    padding-bottom: 100px;
    top: 160px;
    left: 2%;
    animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    padding: 70px 5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to bottom,
      #e77b49d3,
      #f6a253ec,
      #e28c41b7,
      #eb934a84,
      #a4a4a4,
      #a4a4a4,
      #a4a4a4,
      #c5d5e8,
      #89bbd0,
      #46a2aa,
      #008776,
      #046a38
    );
  }
  .level1C {
    width: 125vw;
  }
  .row {
    display: block !important;
  }
  .lvlcertificates button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0071ff;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0px 10px;
    font-size: 1rem;
  }
  .levels {
    /* border: 1px solid red; */
    text-transform: capitalize;
    position: absolute;
    top: 28%;
    left: 34%;
    font-size: 0.8rem !important;
    text-align: center;
  }
  #userName1 {
    /* border: 1px solid red; */
    display: inline-block;
    position: absolute;
    top: 36.5%;
    width: 100%;
    /* height: 20%; */
    text-align: center;
    color: #000;
    left: 0%;
    font-size: 0.7rem;
  }
  canvas {
    margin-left: 0% !important;
  }
  #ShowImage1 {
    position: absolute;
    top: 43%;
    left: 40%;
    cursor: pointer;
    width: 20%;
  }
  .level2C {
    width: 125vw;
    height: 100vh;
  }
  .level2C {
    width: 125vw;
    height: 100vh;
  }
  .level2C img {
    width: 80%;
    margin-left: 10%;
  }
  .levels2 {
    /* border: 1px solid red; */
    text-transform: capitalize;
    position: absolute;
    top: 26%;
    left: 32%;
    font-size: 0.9rem !important;
    text-align: center;
  }
  #userName2 {
    top: 36% !important;
    font-size: 0.8rem;
    height: 2%;
  }
  #ShowImage2 {
    position: absolute;
    top: 44%;
    left: 42%;
    cursor: pointer;
    width: 20%;
  }
  .out .box p {
    margin-top: -720px;
  }
  .glow {
    width: 100%;
    top: 63%;
  }
  html,
  body {
    max-height: 100%;
  }
  html,
  body {
    max-height: 69%;
  }
  html,
  .bgcertificate {
    background: none !important;
  }
  .page {
    /* width: 100%; */
    /* border:= 1px solid red; */
    height: 100vh;
    z-index: 999999999;
    overflow: hidden !important;
    margin-left: 30%;
  }
  .out canvas {
    margin-left: -122px !important;
  }
  .images_path {
    left: 62%;
  }
  .explore_btn {
    margin-left: -44%;
  }
  #userName {
    position: absolute;
    top: 24%;
    left: 12%;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
    height: 20px;
    text-align: center;
    z-index: 10;
  }
  .levels {
    /* border: 1px solid red; */
    text-transform: capitalize;
    position: absolute;
    top: 27%;
    left: 28%;
    font-size: 1rem !important;
    text-align: center;
  }
  .img_upload img {
    width: 70px;
    height: 50px;
    border: none;
    /* border: 3px solid gray; */
    border-radius: 5px;
  }
  #ShowImage img {
    width: 15% !important;
    height: 5%;
    position: absolute;
    top: 30%;
    left: 32%;
    cursor: pointer;
  }
  .social-menu ul {
    bottom: 15%;
  }
  #rotatingGlobe {
    margin-top: 26% !important;
    margin-left: 20% !important;
  }
}
