@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf)
    format("truetype");
}

@font-face {
  font-family: "Pinyon Script";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pinyonscript/v18/6xKpdSJbL9-e9LuoeQiDRQR8WOXaPw.ttf)
    format("truetype");
}

@font-face {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rochester/v18/6ae-4KCqVa4Zy6Fif-UC2FHS.ttf)
    format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.offset-md-1 {
  margin-left: 22% !important;
}

.H_btn {
  z-index: 9999999 !important;
  position: absolute;
  bottom: 7%;
  right: 10%;
  color: black;
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif !important;
}

.H_btn:hover {
  color: #fff;
}

.H_btn button {
  font-family: "Oswald", sans-serif !important;
  position: absolute;
  z-index: 1000;
  background-color: cornflowerblue;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

.H_btn button :hover {
  background-color: #777;
}

.cursive {
  font-family: "Pinyon Script", cursive;
}

.sans {
  font-family: "Open Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.underline {
  border-bottom: 1px solid #777;
  padding: 5px;
  margin-bottom: 15px;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.pm-empty-space {
  height: 40px;
  width: 100%;
}

/* body {
  padding: 20px 0;
  background: #ccc;
} */

.pm-certificate-container {
  margin-top: 150px;
  position: relative;
  width: 900px !important;
  height: 600px;
  background: rgb(255, 65, 23);
  background: linear-gradient(
    180deg,
    rgba(255, 65, 23, 1) 0%,
    rgba(255, 255, 255, 1) 58%,
    rgba(46, 232, 13, 1) 100%
  );
  padding: 30px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.logo_govt {
  position: absolute;
  left: 40px;
  top: 70px;
  width: 100px;
  height: 100px;
  z-index: 100;
}

.logo_govt2 {
  position: absolute;
  right: 40px;
  top: 70px;
  width: 100px;
  height: 100px;
  z-index: 100;
}

.logo_govt2 img {
  width: 100%;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);

  filter: FlipH;
  -ms-filter: "FlipH";
}

.congratulations_logo {
  position: absolute;
  top: 210px;
  left: 40%;
  width: 200px;
  height: 50px;
  z-index: 100;
}

.congratulations_logoimg {
  width: 100%;
  height: 100%;
}

.logo_govt img {
  width: 100%;
}

.pm-certificate-container .outer-border {
  width: 894px;
  height: 594px;
  position: absolute;
  left: 50%;
  margin-left: -447px;
  top: 50%;
  margin-top: -297px;
  border: 2px solid #fff;
}

.pm-certificate-container .inner-border {
  width: 830px;
  height: 530px;
  position: absolute;
  left: 50%;
  margin-left: -415px;
  top: 50%;
  margin-top: -265px;
  border: 2px solid #fff;
}

.pm-certificate-container .pm-certificate-border {
  position: relative;
  width: 820px;
  height: 520px;
  padding: 0;
  border: 1px solid #e1e5f0;
  background-color: #ffffff;
  background-image: none;
  left: 50%;
  margin-left: -410px;
  top: 50%;
  margin-top: -260px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-block {
  width: 650px;
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  top: 70px;
  margin-top: 0;
  /* border: 3px solid blue; */
}

.pm-certificate-container .pm-certificate-border .pm-certificate-header {
  margin-bottom: 10px;
  /* border: 3px solid orange; */
}

/* .pm-certificate-container .pm-certificate-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.pm-certificate-container .pm-certificate-border .pm-certificate-title {
  position: relative;
  top: 90px;
  z-index: 99999;
  padding: 0px 50px;
  margin-left: 5%;
  /* border: 1px solid green; */
  /* right: 0% !important; */
}

.pm-certificate-container .pm-certificate-border .pm-certificate-title h2 {
  font-size: 3em;
  font-weight: bold;
  /* border: 1px solid red; */
}

.pm-certificate-container .pm-certificate-border .pm-certificate-title p {
  font-size: 2rem;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-body {
  padding: 20px;
  /* border: 1px solid red; */
}

/* .pm-certificate-container
  .pm-certificate-border
  .pm-certificate-body
  .pm-name-text {
  font-size: 20px;
} */
.pm-name-text {
  font-size: 20px;
  width: 500px;
  margin: 50px 0px 0px 650px;
  /* border: 1px solid red; */
}
.pm-certificate-container .pm-certificate-border .pm-earned {
  margin: 40px 0 20px 100px;
  /* border: 1px solid orange; */
}

.pm-certificate-container .pm-certificate-border .pm-earned .pm-earned-text {
  font-size: 20px;
}

.pm-certificate-container .pm-certificate-border .pm-earned .pm-credits-text {
  font-size: 15px;
}

.pm-certificate-container
  .pm-certificate-border
  .pm-course-title
  .pm-earned-text {
  font-size: 20px;
}

.pm-certificate-container
  .pm-certificate-border
  .pm-course-title
  .pm-credits-text {
  font-size: 15px;
}

.pm-certificate-container .pm-certificate-border .pm-certified {
  font-size: 12px;
}

.pm-certificate-container .pm-certificate-border .pm-certified .underline {
  margin-bottom: 5px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-footer {
  width: 650px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  bottom: -105px;
}

.img_upload img {
  width: 100px;
  height: 100px;
  border: 3px solid gray;
  border-radius: 5px;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.shar_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.shar_box i {
  opacity: 0;
  font-size: 28px;
  color: #1f1e1e;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shar_box .btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 240px;
  height: 42px;
  background-color: #eeeeed;
  border-radius: 80px;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn_wrap:hover {
  /* transition-delay: .4s; */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.shar_box .btn_wrap span {
  position: absolute;
  z-index: 99;
  width: 240px;
  height: 72px;
  border-radius: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
  color: #eeeeed;
  background-color: #333;
  padding: 0 18px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.shar_box .btn_wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  height: 64px;
  border-radius: 80px;
}

.container i:nth-of-type(1) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.container i:nth-of-type(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.container i:nth-of-type(3) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.container i:nth-of-type(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.btn_wrap:hover span {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
}

.btn_wrap:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.download_btn {
  position: absolute;
  bottom: 3%;
  left: 5%;
  color: #1f1e1e;
  font-size: 1.8rem;
}

.download_btn:hover {
  color: #ffffff;
}

.download_btn {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px 50px;
}

.download_btn:hover {
  background-color: cornflowerblue;
}

.social-menu ul {
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:nth-child(4) {
  background-color: #1da1f2;
  border: 1px solid red;
  color: #000 !important;
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #158f13;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #1da1f2;
}

/* .social-menu ul li:nth-child(5) a:hover {
  background-color: #ff6666;
} */

/* .social-menu ul li:nth-child(6) a:hover {
  background-color: red;
} */
#userName {
  /* border: 1px solid red; */
  display: inline-block;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 20%;
  text-align: center;
  color: #000;
  left: 0%;
}
#userName2 {
  /* border: 1px solid red; */
  display: inline-block;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 20%;
  text-align: center;
  color: #000;
  left: 0%;
}
